@mixin lflex{    
    display: -webkit-box;    
    display: flex;
}

@mixin lflex--center--center{
    @include lflex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

@mixin lflex--column{
    flex-direction: column;
}