//backgrounds
$bg-main: linear-gradient(#FFFFFF, #EFF3F8, #FFFFFF);

//fontsSizes
$h1FontSize : 22px;

//LineHeigths
$formInpusLineHeights: 2;

//mediaQuerys
$breakpoint-tablet: 768px;

//colors
$color-main: #557EBC;