<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", type="text/css", href="css/main.css")
        //favicon Configuration
        include ../components/favicon.pug
    body
        include ../components/header.pug
        include ../sections/inputsForm.pug
        include ../sections/sectionTable.pug
        script(src="js/app.js")